<!DOCTYPE html>
<html>

<head>
    <title>PhotoBooth</title>
    <meta http-equiv="refresh" content="3">
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
        }

        #image-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #image-container img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    </style>
</head>

<body>
    <div id="image-container">
        <img src="{{ url_for('static', filename='images/' + image) }}" alt="Newest Image">
    </div>
</body>

</html>